openapi: 3.2.0
info:
  title: FlowAccount Open Employee API
  version: 1.0.0
servers:
- url: https://openapi.flowaccount.com/sandbox
  description: The sandbox server
- url: https://openapi.flowaccount.com/v3-alpha
  description: The prod server
security:
- bearer: []
tags:
- name: Employee
paths:
  /Employee/{id}:
    get:
      tags:
      - Employee
      summary: Get employee by Id
      operationId: Employee_GetById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
    delete:
      tags:
      - Employee
      summary: Delete/Remove Employee by Id
      operationId: Employee_Remove
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
  /Employee:
    get:
      tags:
      - Employee
      summary: Get employee list with payrollQuery model
      operationId: Employee_GetList
      requestBody:
        x-name: queryStringModel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayrollQuery'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
    post:
      tags:
      - Employee
      summary: Create Employee
      operationId: Employee_Create
      requestBody:
        x-name: employee
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeModel'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
    put:
      tags:
      - Employee
      summary: Update Employee
      operationId: Employee_Edit
      requestBody:
        x-name: employee
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeModel'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
  /Employee/count:
    get:
      tags:
      - Employee
      summary: Count employees
      operationId: Employee_Count
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
components:
  schemas:
    Cheque:
      type: object
      additionalProperties: false
      required:
      - companyId
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        bankAccountId:
          type: integer
          format: int64
        bankAccount:
          oneOf:
          - $ref: '#/components/schemas/BankAccount'
        chartOfAccountId:
          type:
          - integer
          - 'null'
          format: int64
        chartOfAccount:
          oneOf:
          - $ref: '#/components/schemas/ChartOfAccount'
        status:
          $ref: '#/components/schemas/BankingChannelsStatus'
        isDelete:
          type: boolean
          default: false
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
    Gallery:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
          maxLength: 255
          minLength: 0
        productList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductList'
        media:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Media'
        journalEntry:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/JournalEntry'
        receivableInvoice:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReceivableInvoice'
        supplierInvoice:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SupplierInvoice'
    PaidPeriod:
      type: integer
      description: '1 = Monthly

        3 = Daily'
      x-enumNames:
      - Monthly
      - Daily
      enum:
      - 1
      - 3
    IncomeType:
      type: integer
      description: '1 = Salary

        3 = Commission

        5 = Licensing

        7 = Interest

        9 = NetProfit30

        11 = NetProfit25

        13 = NetProfit20

        15 = NetProfitOther

        17 = TaxExemption

        19 = DividenFromShareOfProfit

        21 = PortionOfNetProfit

        23 = RecognitionOfProfit

        25 = TaxOther

        27 = RevenueDepartmentTax

        29 = Others'
      x-enumNames:
      - Salary
      - Commission
      - Licensing
      - Interest
      - NetProfit30
      - NetProfit25
      - NetProfit20
      - NetProfitOther
      - TaxExemption
      - DividenFromShareOfProfit
      - PortionOfNetProfit
      - RecognitionOfProfit
      - TaxOther
      - RevenueDepartmentTax
      - Others
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
      - 11
      - 13
      - 15
      - 17
      - 19
      - 21
      - 23
      - 25
      - 27
      - 29
    SendEmailStatus:
      type: integer
      description: '1 = Sent

        3 = NoEmail'
      x-enumNames:
      - Sent
      - NoEmail
      enum:
      - 1
      - 3
    PredicateOperator:
      type: integer
      description: '0 = Or

        1 = And'
      x-enumNames:
      - Or
      - And
      enum:
      - 0
      - 1
    CompanyTypeEnum:
      type: integer
      description: '10 = PrivateWithTax

        20 = PrivateWithoutTax

        30 = Personal

        40 = PersonalWithTax

        50 = PartnershipLimitedWithTax

        60 = PartnershipLimitedWithoutTax'
      x-enumNames:
      - PrivateWithTax
      - PrivateWithoutTax
      - Personal
      - PersonalWithTax
      - PartnershipLimitedWithTax
      - PartnershipLimitedWithoutTax
      enum:
      - 10
      - 20
      - 30
      - 40
      - 50
      - 60
    ExpenseCategory:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          maxLength: 255
          minLength: 0
        nameForeign:
          type:
          - string
          - 'null'
        isShare:
          type: boolean
        isDelete:
          type: boolean
        isGLSystem:
          type: boolean
        systemCode:
          type:
          - integer
          - 'null'
          format: int32
        resetTransactionId:
          type:
          - integer
          - 'null'
          format: int64
        taxLife:
          type:
          - integer
          - 'null'
          format: int32
        chartOfAccountId:
          type:
          - integer
          - 'null'
          format: int64
        chartOfAccountIdCredit:
          type:
          - integer
          - 'null'
          format: int64
        depreciationChartOfAccountId:
          type:
          - integer
          - 'null'
          format: int64
        accumulatedDepreciationChartOfAccountId:
          type:
          - integer
          - 'null'
          format: int64
        depreciableAsset:
          type:
          - boolean
          - 'null'
        expenseList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ExpenseList'
        companyExpenseCategory:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CompanyExpenseCategory'
    FilterOptions:
      type: object
      additionalProperties: false
      properties:
        columnName:
          type:
          - string
          - 'null'
        columnValue:
          type:
          - string
          - 'null'
        columnPredicateOperator:
          $ref: '#/components/schemas/PredicateOperator'
    OtherChannels:
      type: object
      additionalProperties: false
      required:
      - companyId
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        chartOfAccountId:
          type:
          - integer
          - 'null'
          format: int64
        chartOfAccount:
          oneOf:
          - $ref: '#/components/schemas/ChartOfAccount'
        name:
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/BankingChannelsStatus'
        channel:
          $ref: '#/components/schemas/PaymentChannelsType'
        type:
          $ref: '#/components/schemas/OtherChannelsType'
        description:
          type:
          - string
          - 'null'
        bankId:
          type:
          - integer
          - 'null'
          format: int32
        bank:
          oneOf:
          - $ref: '#/components/schemas/Bank'
        bankName:
          type:
          - string
          - 'null'
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        isDelete:
          type: boolean
          default: false
    CreditCardType:
      type: integer
      description: '1 = Personal

        3 = Business'
      x-enumNames:
      - Personal
      - Business
      enum:
      - 1
      - 3
    PaymentMethod:
      type: integer
      description: '0 = None

        1 = Cash

        3 = Cheque

        5 = Transfer

        7 = CreditCard

        9 = PushPay

        11 = PettyCash

        13 = Other

        51 = TransferByKConnect'
      x-enumNames:
      - None
      - Cash
      - Cheque
      - Transfer
      - CreditCard
      - PushPay
      - PettyCash
      - Other
      - TransferByKConnect
      enum:
      - 0
      - 1
      - 3
      - 5
      - 7
      - 9
      - 11
      - 13
      - 51
    FiscalYearStatus:
      type: integer
      description: '1 = Current

        3 = Opening

        5 = Closed'
      x-enumNames:
      - Current
      - Opening
      - Closed
      enum:
      - 1
      - 3
      - 5
    JournalEntryStatus:
      type: integer
      description: '0 = Delete

        1 = Awaiting

        5 = Approved

        9 = Void'
      x-enumNames:
      - Delete
      - Awaiting
      - Approved
      - Void
      enum:
      - 0
      - 1
      - 5
      - 9
    CreditCard:
      type: object
      additionalProperties: false
      required:
      - companyId
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        chartOfAccountId:
          type:
          - integer
          - 'null'
          format: int64
        chartOfAccount:
          oneOf:
          - $ref: '#/components/schemas/ChartOfAccount'
        bankId:
          type: integer
          format: int32
        bank:
          oneOf:
          - $ref: '#/components/schemas/Bank'
        bankName:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/CreditCardType'
        cardNumber:
          type:
          - string
          - 'null'
        cardHolderName:
          type:
          - string
          - 'null'
        cardName:
          type:
          - string
          - 'null'
        cashLimit:
          type: number
          format: decimal
        statementDate:
          type: integer
          format: int32
        dueDate:
          type: integer
          format: int32
        status:
          $ref: '#/components/schemas/BankingChannelsStatus'
        isDelete:
          type: boolean
          default: false
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
    ListItem:
      type: object
      additionalProperties: false
      properties:
        text:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
    ReceivableInvoiceStatus:
      type: integer
      description: '1 = Awaiting

        3 = Approved

        5 = ApprovedAndProcessed

        7 = Void

        9 = Delete'
      x-enumNames:
      - Awaiting
      - Approved
      - ApprovedAndProcessed
      - Void
      - Delete
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
    RunningNumberType:
      type: integer
      description: '1 = Default

        3 = YearMonth

        5 = Month

        7 = Year

        9 = FreeHand'
      x-enumNames:
      - Default
      - YearMonth
      - Month
      - Year
      - FreeHand
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
    JournalEntry:
      type: object
      additionalProperties: false
      required:
      - documentType
      - status
      - documentDate
      - isSystemDocument
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        documentSerial:
          type:
          - string
          - 'null'
          maxLength: 100
          minLength: 0
        documentType:
          $ref: '#/components/schemas/DocumentTypes'
        status:
          $ref: '#/components/schemas/JournalEntryStatus'
        documentDate:
          type: string
          format: date-time
          default: CURRENT_TIMESTAMP
          minLength: 1
        description:
          type:
          - string
          - 'null'
          maxLength: 2000
          minLength: 0
        descriptionForeign:
          type:
          - string
          - 'null'
          maxLength: 2000
          minLength: 0
        voidDescription:
          type:
          - string
          - 'null'
          maxLength: 2000
          minLength: 0
        voidedOn:
          type:
          - string
          - 'null'
          format: date-time
        approvedOn:
          type:
          - string
          - 'null'
          format: date-time
        transactionNo:
          type:
          - integer
          - 'null'
          format: int64
        note:
          type:
          - string
          - 'null'
        templateType:
          $ref: '#/components/schemas/JournalEntryTemplateType'
        contactName:
          type:
          - string
          - 'null'
        documentSerialNoPrefix:
          type:
          - integer
          - 'null'
          format: int64
        createdBy:
          type: integer
          format: int64
        modifiedBy:
          type: integer
          format: int64
        approvedBy:
          type:
          - integer
          - 'null'
          format: int64
        voidedBy:
          type:
          - integer
          - 'null'
          format: int64
        galleryId:
          type:
          - integer
          - 'null'
          format: int64
        contactId:
          type:
          - integer
          - 'null'
          format: int64
        runningNumberType:
          oneOf:
          - $ref: '#/components/schemas/RunningNumberType'
        fiscalYearId:
          type:
          - integer
          - 'null'
          format: int64
        gallery:
          oneOf:
          - $ref: '#/components/schemas/Gallery'
        company:
          oneOf:
          - $ref: '#/components/schemas/Company'
        approvedByUser:
          oneOf:
          - $ref: '#/components/schemas/User'
        modifiedByUser:
          oneOf:
          - $ref: '#/components/schemas/User'
        voidedByUser:
          oneOf:
          - $ref: '#/components/schemas/User'
        remarks:
          type:
          - string
          - 'null'
          maxLength: 2000
          minLength: 0
        contact:
          oneOf:
          - $ref: '#/components/schemas/Contact'
        fiscalYear:
          oneOf:
          - $ref: '#/components/schemas/FiscalYear'
        reference:
          type:
          - string
          - 'null'
          maxLength: 50
          minLength: 0
        referenceId:
          type:
          - integer
          - 'null'
          format: int64
        referenceDocumentType:
          oneOf:
          - $ref: '#/components/schemas/DocumentTypes'
        isSystemDocument:
          type: boolean
          default: false
        ruleCompileStatus:
          $ref: '#/components/schemas/RuleCompileStatus'
        bookOfAccounts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IBookOfAccount'
        isChangedDocumentDate:
          type: boolean
        isResetDocument:
          type: boolean
    PayrollDetailStatus:
      type: integer
      description: '0 = Draft

        1 = Awaiting

        2 = Reset

        3 = Paid

        4 = Partial

        5 = Rejected

        7 = Approved

        11 = PushPayAwaiting

        13 = PushPayProcessed

        15 = PushPayRejected

        17 = PushPayPartial

        19 = PushPayPendingPayments

        50 = KConnectAwaiting

        52 = KConnectProcessed

        54 = KConnectRejected

        56 = KConnectPendingPayments

        58 = KConnectPartialPayments'
      x-enumNames:
      - Draft
      - Awaiting
      - Reset
      - Paid
      - Partial
      - Rejected
      - Approved
      - PushPayAwaiting
      - PushPayProcessed
      - PushPayRejected
      - PushPayPartial
      - PushPayPendingPayments
      - KConnectAwaiting
      - KConnectProcessed
      - KConnectRejected
      - KConnectPendingPayments
      - KConnectPartialPayments
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 7
      - 11
      - 13
      - 15
      - 17
      - 19
      - 50
      - 52
      - 54
      - 56
      - 58
    EmployeeTypes:
      type: integer
      description: '1 = EmpWithOutOT

        3 = EmpWithOT

        5 = EmpByDayHour

        7 = Owner'
      x-enumNames:
      - EmpWithOutOT
      - EmpWithOT
      - EmpByDayHour
      - Owner
      enum:
      - 1
      - 3
      - 5
      - 7
    PaymentChannelsType:
      type: integer
      description: '1 = POS

        3 = PayemntGateWay

        5 = EDC

        7 = ECommerce'
      x-enumNames:
      - POS
      - PayemntGateWay
      - EDC
      - ECommerce
      enum:
      - 1
      - 3
      - 5
      - 7
    DocumentReferenceTypes:
      type: integer
      description: '1 = ImportDocument

        3 = PartialPayments

        5 = Batch

        7 = Etax

        9 = MiigratePartialPayments

        11 = BatchPartialPayments

        13 = DepositFirst

        15 = DepositLast'
      x-enumNames:
      - ImportDocument
      - PartialPayments
      - Batch
      - Etax
      - MiigratePartialPayments
      - BatchPartialPayments
      - DepositFirst
      - DepositLast
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
      - 11
      - 13
      - 15
    DocumentTemplates:
      type: integer
      description: '1 = Default

        3 = Template1

        5 = Template2

        7 = Template3

        9 = Template4

        11 = Template5

        13 = TemplateA5

        15 = Template9x11withOriginal

        17 = Template8

        101 = NativeDefault

        103 = Native1

        105 = Native3

        107 = Native5

        109 = Native7

        111 = Native9

        113 = Native11

        115 = Native13

        201 = Thermal1

        203 = Thermal2

        205 = SocialSlip

        301 = ShortCA1

        303 = ShortCA2

        305 = ShortCA3'
      x-enumNames:
      - Default
      - Template1
      - Template2
      - Template3
      - Template4
      - Template5
      - TemplateA5
      - Template9x11withOriginal
      - Template8
      - NativeDefault
      - Native1
      - Native3
      - Native5
      - Native7
      - Native9
      - Native11
      - Native13
      - Thermal1
      - Thermal2
      - SocialSlip
      - ShortCA1
      - ShortCA2
      - ShortCA3
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
      - 11
      - 13
      - 15
      - 17
      - 101
      - 103
      - 105
      - 107
      - 109
      - 111
      - 113
      - 115
      - 201
      - 203
      - 205
      - 301
      - 303
      - 305
    OrderBy:
      type: integer
      description: '1 = Asc

        3 = Desc'
      x-enumNames:
      - Asc
      - Desc
      enum:
      - 1
      - 3
    PackageStatus:
      type: integer
      description: '10 = Pending

        30 = Approve

        50 = Suspend

        70 = Terminated

        90 = Delete'
      x-enumNames:
      - Pending
      - Approve
      - Suspend
      - Terminated
      - Delete
      enum:
      - 10
      - 30
      - 50
      - 70
      - 90
    BusinessType:
      type: integer
      description: '1 = SellingProducts

        3 = SellingServices

        5 = SellingBoth

        7 = Custom'
      x-enumNames:
      - SellingProducts
      - SellingServices
      - SellingBoth
      - Custom
      enum:
      - 1
      - 3
      - 5
      - 7
    DocumentQuery:
      allOf:
      - $ref: '#/components/schemas/SimpleQuery'
      - type: object
        additionalProperties: false
        properties:
          totalValue:
            type: number
            format: decimal
          totalVAT:
            type: number
            format: decimal
          isReceived:
            type: boolean
          documentType:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/DocumentTypes'
          revenue:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ListItem'
          expenses:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ListItem'
          previousMonths:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ListItem'
          previousYears:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ListItem'
          customDocumentModels:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CustomDocumentModel'
    BookOfAccountStatus:
      type: integer
      description: '0 = Delete

        1 = Awaiting

        5 = Approved

        9 = Void

        -9 = ResetVoid

        -5 = ResetApproved

        -1 = ResetAwaiting'
      x-enumNames:
      - Delete
      - Awaiting
      - Approved
      - Void
      - ResetVoid
      - ResetApproved
      - ResetAwaiting
      enum:
      - 0
      - 1
      - 5
      - 9
      - -9
      - -5
      - -1
    ExpenseList:
      allOf:
      - $ref: '#/components/schemas/Document2'
      - type: object
        additionalProperties: false
        required:
        - collected
        - outstanding
        - paymentWithHeld
        properties:
          id:
            type: integer
            format: int64
          vendorCompanyId:
            type:
            - integer
            - 'null'
            format: int64
          companyId:
            type: integer
            format: int64
          status:
            $ref: '#/components/schemas/ExpenseStatus'
          receiptImage:
            type:
            - string
            - 'null'
          value:
            type: number
            format: decimal
          description:
            type:
            - string
            - 'null'
          expenseCategoryId:
            type: integer
            format: int64
          documentSerial:
            type:
            - string
            - 'null'
          documentId:
            type:
            - string
            - 'null'
          publishedOn:
            type: string
            format: date-time
          expenseDate:
            type: string
            format: date-time
          documentDate:
            type: string
            format: date-time
          createdOn:
            type: string
            format: date-time
          createdBy:
            type: integer
            format: int64
          modifiedOn:
            type: string
            format: date-time
          published:
            type: boolean
          approved:
            type: boolean
          approvedBy:
            type: integer
            format: int64
          remarks:
            type:
            - string
            - 'null'
          isTax:
            type: boolean
          isDelete:
            type: boolean
          taxRefundable:
            type: boolean
          galleryId:
            type:
            - integer
            - 'null'
            format: int64
          reconciled:
            type: boolean
          nullableContactId:
            type:
            - integer
            - 'null'
            format: int64
          bankAccountNumber:
            type:
            - string
            - 'null'
            maxLength: 50
            minLength: 0
          isVatInclusive:
            type: boolean
          methodPayment:
            oneOf:
            - $ref: '#/components/schemas/PaymentMethod'
          vendorName:
            type:
            - string
            - 'null'
          addressLocal:
            type:
            - string
            - 'null'
          addressLocalLine2:
            type:
            - string
            - 'null'
          addressLocalLine3:
            type:
            - string
            - 'null'
          companyTaxId:
            type:
            - string
            - 'null'
          branch:
            type:
            - string
            - 'null'
          vatRate:
            type: integer
            format: int32
          tax:
            type:
            - number
            - 'null'
            format: decimal
          valueIncludeVat:
            type: number
            format: decimal
          vatAmount:
            type:
            - number
            - 'null'
            format: decimal
          documentSerialNoPrefix:
            type:
            - integer
            - 'null'
            format: int64
          withholding:
            type:
            - integer
            - 'null'
            format: int32
          charge:
            type:
            - number
            - 'null'
            format: decimal
          datePayment:
            type:
            - string
            - 'null'
            format: date-time
          checkNumber:
            type:
            - string
            - 'null'
            maxLength: 50
            minLength: 0
          checkBankId:
            type:
            - string
            - 'null'
            maxLength: 2147483647
            minLength: 0
          checkDatePaid:
            type:
            - string
            - 'null'
            format: date-time
          transferBankId:
            type:
            - string
            - 'null'
            maxLength: 2147483647
            minLength: 0
          collected:
            type: number
            format: decimal
            default: 0
          outstanding:
            type: number
            format: decimal
            default: 0
          paymentWithHeld:
            type: number
            format: decimal
            default: 0
          resetTransactionId:
            type:
            - integer
            - 'null'
            format: int64
          bankAccountId:
            type:
            - integer
            - 'null'
            format: int64
          ruleCompileStatus:
            $ref: '#/components/schemas/RuleCompileStatus'
          remainingCollected:
            type:
            - number
            - 'null'
            format: decimal
          remainingCollectedType:
            oneOf:
            - $ref: '#/components/schemas/RemainingCollectedType'
          company:
            oneOf:
            - $ref: '#/components/schemas/Company'
          vendorCompany:
            oneOf:
            - $ref: '#/components/schemas/Company'
          expenseCategory:
            oneOf:
            - $ref: '#/components/schemas/ExpenseCategory'
          gallery:
            oneOf:
            - $ref: '#/components/schemas/Gallery'
          contact:
            oneOf:
            - $ref: '#/components/schemas/Contact'
          runningNumberType:
            type: integer
            format: int32
          runningModifiedOn:
            type:
            - string
            - 'null'
            format: date-time
          isForeignCurrency:
            type: boolean
          foreignCurrency:
            oneOf:
            - $ref: '#/components/schemas/Currency'
          exchangeRate:
            type:
            - number
            - 'null'
            format: decimal
          foreignValue:
            type:
            - number
            - 'null'
            format: decimal
          exemptAmount:
            type: number
            format: decimal
          vatableAmount:
            type: number
            format: decimal
          totalAfterDiscount:
            type: number
            format: decimal
          dueDate:
            type:
            - string
            - 'null'
            format: date-time
          subTotal:
            type: number
            format: decimal
          payrollDetail:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/PayrollDetail'
          batchTaxFilingId:
            type:
            - integer
            - 'null'
            format: int64
          batchTaxFiling:
            oneOf:
            - $ref: '#/components/schemas/BatchTaxFiling'
          supplierInvoiceStatus:
            oneOf:
            - $ref: '#/components/schemas/SupplierInvoiceStatus'
          saleAndPurchaseChannel:
            type:
            - string
            - 'null'
          pettyCashName:
            type:
            - string
            - 'null'
          pettyCashId:
            type:
            - integer
            - 'null'
            format: int64
          chequeId:
            type:
            - integer
            - 'null'
            format: int64
          creditCardId:
            type:
            - integer
            - 'null'
            format: int64
          otherChannelId:
            type:
            - integer
            - 'null'
            format: int64
          chequeCashingDate:
            type:
            - string
            - 'null'
            format: date-time
          autoCreateWithholdingTax:
            type:
            - boolean
            - 'null'
          withholdingTaxIncomeType:
            oneOf:
            - $ref: '#/components/schemas/IncomeType'
          withholdingTaxIncomeDescription:
            type:
            - string
            - 'null'
          withholdingTaxEntity:
            oneOf:
            - $ref: '#/components/schemas/Entity'
          exchangeRatio:
            type:
            - number
            - 'null'
            format: decimal
          isManualRate:
            type:
            - boolean
            - 'null'
          exchangeRateDate:
            type:
            - string
            - 'null'
            format: date-time
          companyCurrencyId:
            type:
            - integer
            - 'null'
            format: int64
          foreignInlineVatValue:
            type:
            - number
            - 'null'
            format: decimal
          foreignInlineDiscountValue:
            type:
            - number
            - 'null'
            format: decimal
          foreignVatAmount:
            type:
            - number
            - 'null'
            format: decimal
          foreignDeductionAmount:
            type:
            - number
            - 'null'
            format: decimal
          projectId:
            type:
            - integer
            - 'null'
            format: int64
          isManualVat:
            type:
            - boolean
            - 'null'
          externalDocumentId:
            type:
            - string
            - 'null'
            maxLength: 36
          batchId:
            type:
            - string
            - 'null'
            maxLength: 36
          documentReferences:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/IDocumentReference'
          referencedToMe:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/IDocumentReference'
          referencedByMe:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/IDocumentReference'
          statusInt:
            type: integer
            format: int32
          partialPaymentMethod:
            oneOf:
            - $ref: '#/components/schemas/PartialPaymentMethod'
          refDocumentStatus:
            type: integer
            format: int32
          refDocumentStatusString:
            type:
            - string
            - 'null'
          isReCalculate:
            type: boolean
          inlineVatValue:
            type: number
            format: decimal
          inlineDiscountValue:
            type: number
            format: decimal
          isMigrate:
            type: boolean
          vatValue:
            type:
            - number
            - 'null'
            format: decimal
          deductionAmount:
            type:
            - number
            - 'null'
            format: decimal
          paymentDeductionType:
            oneOf:
            - $ref: '#/components/schemas/DeductionType'
          documentDeductionType:
            oneOf:
            - $ref: '#/components/schemas/DeductionType'
          isInlineDiscount:
            type: boolean
          isInlineVat:
            type: boolean
          contactId:
            type: integer
            format: int64
          valueExcludeVat:
            type: number
            format: decimal
          roundingAdjustment:
            type: number
            format: decimal
          name:
            type:
            - string
            - 'null'
          internalNotes:
            type:
            - string
            - 'null'
          projectName:
            type:
            - string
            - 'null'
          projectNameAndProjectDeatil:
            type:
            - string
            - 'null'
    DocumentTypes:
      type: integer
      description: '1 = PurchaseOrder

        3 = Quotation

        5 = BillingNote

        7 = TaxInvoice

        9 = Receipt

        13 = Expense

        15 = Vendor

        17 = WithHoldingTax

        19 = BillingNotePartials

        21 = TaxInvoicePartails

        23 = Purchase

        24 = PurchaseTax

        25 = ReceivableInvoice

        29 = AdjustInventory

        31 = CreditNote

        33 = DebitNote

        35 = CashInvoice

        37 = PaymentSlip

        51 = JournalEntry

        53 = PurchaseVoucher

        55 = SalesVoucher

        57 = PaymentVoucher

        59 = ReceivedVoucher

        61 = ConversionBalance

        63 = Transaction

        65 = SupplierInvoice

        67 = BatchTaxFiling

        69 = FixedAsset

        71 = Depreciation

        73 = BankTransfer

        151 = DraftJournalEntry

        153 = DraftPurchaseVoucher

        155 = DraftSalesVoucher

        157 = DraftPaymentVoucher

        159 = DraftReceivedVoucher

        201 = Payroll

        202 = PayrollDetail

        203 = Employee

        204 = PayrollPayment'
      x-enumNames:
      - PurchaseOrder
      - Quotation
      - BillingNote
      - TaxInvoice
      - Receipt
      - Expense
      - Vendor
      - WithHoldingTax
      - BillingNotePartials
      - TaxInvoicePartails
      - Purchase
      - PurchaseTax
      - ReceivableInvoice
      - AdjustInventory
      - CreditNote
      - DebitNote
      - CashInvoice
      - PaymentSlip
      - JournalEntry
      - PurchaseVoucher
      - SalesVoucher
      - PaymentVoucher
      - ReceivedVoucher
      - ConversionBalance
      - Transaction
      - SupplierInvoice
      - BatchTaxFiling
      - FixedAsset
      - Depreciation
      - BankTransfer
      - DraftJournalEntry
      - DraftPurchaseVoucher
      - DraftSalesVoucher
      - DraftPaymentVoucher
      - DraftReceivedVoucher
      - Payroll
      - PayrollDetail
      - Employee
      - PayrollPayment
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
      - 13
      - 15
      - 17
      - 19
      - 21
      - 23
      - 24
      - 25
      - 29
      - 31
      - 33
      - 35
      - 37
      - 51
      - 53
      - 55
      - 57
      - 59
      - 61
      - 63
      - 65
      - 67
      - 69
      - 71
      - 73
      - 151
      - 153
      - 155
      - 157
      - 159
      - 201
      - 202
      - 203
      - 204
    Entity:
      type: integer
      description: '1 = PND3

        3 = PND53

        5 = PND1K

        7 = PND1KSpecial

        9 = PND2

        11 = PND2K

        13 = PND3K

        15 = PND1'
      x-enumNames:
      - PND3
      - PND53
      - PND1K
      - PND1KSpecial
      - PND2
      - PND2K
      - PND3K
      - PND1
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
      - 11
      - 13
      - 15
    PettyCash:
      type: object
      additionalProperties: false
      required:
      - companyId
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        isDelete:
          type: boolean
          default: false
        description:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        cashLimit:
          type: number
          format: decimal
        chartOfAccountId:
          type:
          - integer
          - 'null'
          format: int64
        chartOfAccount:
          oneOf:
          - $ref: '#/components/schemas/ChartOfAccount'
        cashHolderId:
          type: integer
          format: int64
        cashHolder:
          oneOf:
          - $ref: '#/components/schemas/User'
        status:
          $ref: '#/components/schemas/BankingChannelsStatus'
        cashHolderName:
          type:
          - string
          - 'null'
        remainingBalance:
          type: number
          format: decimal
    KConnectProductCode:
      type: integer
      description: '1 = PCT

        3 = PPA

        5 = PPB'
      x-enumNames:
      - PCT
      - PPA
      - PPB
      enum:
      - 1
      - 3
      - 5
    DeductionType:
      type: integer
      description: '0 = None

        1 = CashDiscount

        3 = Commission

        5 = ManagementFee

        7 = Roundings

        9 = Retentions'
      x-enumNames:
      - None
      - CashDiscount
      - Commission
      - ManagementFee
      - Roundings
      - Retentions
      enum:
      - 0
      - 1
      - 3
      - 5
      - 7
      - 9
    TemplateFont:
      type: integer
      description: '1 = ChatThai

        3 = Rsu'
      x-enumNames:
      - ChatThai
      - Rsu
      enum:
      - 1
      - 3
    Media:
      type: object
      additionalProperties: false
      required:
      - url
      properties:
        id:
          type: integer
          format: int32
        url:
          type: string
          maxLength: 255
          minLength: 0
        description:
          type:
          - string
          - 'null'
          maxLength: 255
          minLength: 0
        orderNumber:
          type:
          - integer
          - 'null'
          format: int32
        createdOn:
          type:
          - string
          - 'null'
          format: date-time
        isDisplay:
          type: boolean
        isDeleted:
          type: boolean
        galleryId:
          type:
          - integer
          - 'null'
          format: int64
        mediaType:
          type: integer
          format: int32
        companyId:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        path:
          type:
          - string
          - 'null'
        company:
          oneOf:
          - $ref: '#/components/schemas/Company'
        gallery:
          oneOf:
          - $ref: '#/components/schemas/Gallery'
        user:
          oneOf:
          - $ref: '#/components/schemas/User'
    Document2:
      type: object
      additionalProperties: false
    SortOptions:
      type: object
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
        sortOrder:
          $ref: '#/components/schemas/OrderBy'
    Contact:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
        nameLocal:
          type:
          - string
          - 'null'
        nameForeign:
          type:
          - string
          - 'null'
        addressLocal:
          type:
          - string
          - 'null'
        addressForeign:
          type:
          - string
          - 'null'
        addressLocalLine2:
          type:
          - string
          - 'null'
        addressForeignLine2:
          type:
          - string
          - 'null'
        addressLocalLine3:
          type:
          - string
          - 'null'
        addressForeignLine3:
          type:
          - string
          - 'null'
        branch:
          type:
          - string
          - 'null'
        branchForeign:
          type:
          - string
          - 'null'
        companyTaxId:
          type:
          - string
          - 'null'
        fax:
          type:
          - string
          - 'null'
        phone1:
          type:
          - string
          - 'null'
        phone2:
          type:
          - string
          - 'null'
        phone3:
          type:
          - string
          - 'null'
        websites:
          type:
          - string
          - 'null'
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        modifiedBy:
          type: integer
          format: int64
        isDelete:
          type: boolean
        isDefault:
          type: boolean
        logoImage:
          type:
          - string
          - 'null'
        defaultCreditDays:
          type:
          - integer
          - 'null'
          format: int32
        vatRate:
          type: integer
          format: int32
        email:
          type:
          - string
          - 'null'
        contactPerson:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        contactType:
          $ref: '#/components/schemas/ContactTypes'
        contactGroup:
          $ref: '#/components/schemas/ContactGroups'
        remarks:
          type:
          - string
          - 'null'
        galleryId:
          type:
          - integer
          - 'null'
          format: int64
        branchCode:
          type:
          - string
          - 'null'
          maxLength: 50
          minLength: 0
        transactionId:
          type:
          - string
          - 'null'
          maxLength: 50
          minLength: 0
        resetTransactionId:
          type:
          - integer
          - 'null'
          format: int64
        contactCode:
          type:
          - string
          - 'null'
        internalNotes:
          type:
          - string
          - 'null'
        shippingAddress:
          type:
          - string
          - 'null'
        zipCode:
          type:
          - string
          - 'null'
        swiftCode:
          type:
          - string
          - 'null'
        bankAddress:
          type:
          - string
          - 'null'
        useForeignBank:
          type:
          - boolean
          - 'null'
        isMigrate:
          type: boolean
    ContactTypes:
      type: integer
      description: '0 = OwnCompany

        3 = Client

        5 = Vendor

        7 = VendorAndClient

        9 = ExpenseVendor'
      x-enumNames:
      - OwnCompany
      - Client
      - Vendor
      - VendorAndClient
      - ExpenseVendor
      enum:
      - 0
      - 3
      - 5
      - 7
      - 9
    ReportTypes:
      type: integer
      description: '10 = Sales

        11 = SalesTeamReport

        12 = SalesTax

        13 = SimpleSales

        14 = AccountReceivable

        15 = AccountReceivableAging

        20 = Purchase

        21 = PurchaseTax

        22 = AccountPayable

        23 = AccountPayableAging

        24 = PurchaseByProduct

        25 = PurchaseByProductAdvance

        30 = Clients

        40 = Vendor

        50 = PaymentCollection

        60 = SalesByProduct

        61 = SalesByProductAdvance

        62 = SalesByPerson

        63 = SalesByPersonAdvance

        64 = SalesByCustomer

        65 = SalesByCustomerAdvance

        70 = Quotation

        80 = BillingNote

        90 = ReceiveInventory

        91 = StocksReport

        92 = GroupStockReport

        100 = Expense

        110 = WithHoldingTax

        120 = ProfitAndLossOneMonth

        121 = ProfitAndLossMultipleMonth

        130 = Receipt

        140 = CreditNote

        150 = DebitNote

        160 = TaxInvoice

        170 = Payroll

        171 = PayrollSummary

        172 = PayrollGroup

        173 = PayrollSscSummary

        180 = ContactGrid

        190 = ProductGrid

        200 = ExportContact

        210 = ExportProduct

        220 = Receivables

        240 = Payables

        260 = GeneralLedger

        270 = JournalEntry

        280 = Payment

        290 = InputTax

        291 = OutputTax

        292 = FixedAsset

        293 = Depreciation

        300 = PaymentSlip'
      x-enumNames:
      - Sales
      - SalesTeamReport
      - SalesTax
      - SimpleSales
      - AccountReceivable
      - AccountReceivableAging
      - Purchase
      - PurchaseTax
      - AccountPayable
      - AccountPayableAging
      - PurchaseByProduct
      - PurchaseByProductAdvance
      - Clients
      - Vendor
      - PaymentCollection
      - SalesByProduct
      - SalesByProductAdvance
      - SalesByPerson
      - SalesByPersonAdvance
      - SalesByCustomer
      - SalesByCustomerAdvance
      - Quotation
      - BillingNote
      - ReceiveInventory
      - StocksReport
      - GroupStockReport
      - Expense
      - WithHoldingTax
      - ProfitAndLossOneMonth
      - ProfitAndLossMultipleMonth
      - Receipt
      - CreditNote
      - DebitNote
      - TaxInvoice
      - Payroll
      - PayrollSummary
      - PayrollGroup
      - PayrollSscSummary
      - ContactGrid
      - ProductGrid
      - ExportContact
      - ExportProduct
      - Receivables
      - Payables
      - GeneralLedger
      - JournalEntry
      - Payment
      - InputTax
      - OutputTax
      - FixedAsset
      - Depreciation
      - PaymentSlip
      enum:
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 30
      - 40
      - 50
      - 60
      - 61
      - 62
      - 63
      - 64
      - 65
      - 70
      - 80
      - 90
      - 91
      - 92
      - 100
      - 110
      - 120
      - 121
      - 130
      - 140
      - 150
      - 160
      - 170
      - 171
      - 172
      - 173
      - 180
      - 190
      - 200
      - 210
      - 220
      - 240
      - 260
      - 270
      - 280
      - 290
      - 291
      - 292
      - 293
      - 300
    BankAccountType:
      type: integer
      description: '1 = SavingAccount

        3 = CurrentAccount

        5 = CreditCardAccount

        7 = DepositAccount'
      x-enumNames:
      - SavingAccount
      - CurrentAccount
      - CreditCardAccount
      - DepositAccount
      enum:
      - 1
      - 3
      - 5
      - 7
    SupplierInvoiceStatus:
      type: integer
      description: '0 = None

        1 = Awaiting

        3 = WaitingForRefund

        5 = CreatedBatchFilling

        7 = NoRefund'
      x-enumNames:
      - None
      - Awaiting
      - WaitingForRefund
      - CreatedBatchFilling
      - NoRefund
      enum:
      - 0
      - 1
      - 3
      - 5
      - 7
    PackageList:
      type: object
      additionalProperties: false
      required:
      - packageName
      - configuration
      properties:
        id:
          type: integer
          format: int32
        packageName:
          type: string
          minLength: 1
        description:
          type:
          - string
          - 'null'
        configuration:
          type: string
          minLength: 1
        remarks:
          type:
          - string
          - 'null'
        displayNameTH:
          type:
          - string
          - 'null'
        displayNameEN:
          type:
          - string
          - 'null'
    FinancialTransactionType:
      type: integer
      description: '1 = Debit

        3 = Credit'
      x-enumNames:
      - Debit
      - Credit
      enum:
      - 1
      - 3
    IChartOfAccount:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
        category:
          $ref: '#/components/schemas/ChartOfAccountCategory'
        code:
          type:
          - string
          - 'null'
        nameLocal:
          type:
          - string
          - 'null'
        nameForeign:
          type:
          - string
          - 'null'
        descriptionLocal:
          type:
          - string
          - 'null'
        descriptionForeign:
          type:
          - string
          - 'null'
        parentId:
          type:
          - integer
          - 'null'
          format: int64
        isFolder:
          type: boolean
        isBank:
          type: boolean
        isReceivable:
          type: boolean
        isDelete:
          type: boolean
        isLock:
          type: boolean
        createdon:
          type: string
          format: date-time
        modifiedon:
          type: string
          format: date-time
        modifiedby:
          type: integer
          format: int64
        value:
          type: number
          format: decimal
        left:
          type: integer
          format: int32
        right:
          type: integer
          format: int32
        isDefault:
          type: boolean
    ProductTypes:
      type: integer
      description: '1 = Service

        3 = ProductWithNoStock

        5 = ProductWithStock'
      x-enumNames:
      - Service
      - ProductWithNoStock
      - ProductWithStock
      enum:
      - 1
      - 3
      - 5
    ProductNonInventoryType:
      type: integer
      description: '1 = NonStockProduct

        3 = SparepartProduct

        5 = SampleProduct

        7 = FreemiumProduct

        9 = SupplyProduct

        11 = OthersProduct'
      x-enumNames:
      - NonStockProduct
      - SparepartProduct
      - SampleProduct
      - FreemiumProduct
      - SupplyProduct
      - OthersProduct
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
      - 11
    Payroll:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        paymentCycle:
          type: integer
          format: int32
        status:
          $ref: '#/components/schemas/PayrollStatus'
        isDelete:
          type: boolean
        createdOn:
          type:
          - string
          - 'null'
          format: date-time
        modifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type:
          - integer
          - 'null'
          format: int64
        modifiedBy:
          type:
          - integer
          - 'null'
          format: int64
        expenseId:
          type:
          - integer
          - 'null'
          format: int64
        galleryId:
          type:
          - integer
          - 'null'
          format: int64
        remarks:
          type:
          - string
          - 'null'
        total:
          type: number
          format: decimal
        bankId:
          type:
          - integer
          - 'null'
          format: int32
        accountNumber:
          type:
          - string
          - 'null'
        addAmount:
          type: number
          format: decimal
        deductAmount:
          type: number
          format: decimal
        netTotal:
          type: number
          format: decimal
        runningNumberType:
          type: integer
          format: int32
        datePayment:
          type:
          - string
          - 'null'
          format: date-time
        documentDate:
          type: string
          format: date-time
        totalPayrollCash:
          type: number
          format: decimal
        totalPayrollTransfer:
          type: number
          format: decimal
        fee:
          type: number
          format: decimal
        paymentRemarks:
          type:
          - string
          - 'null'
        employerAccountNumber:
          type:
          - string
          - 'null'
        employerAccountBranch:
          type:
          - string
          - 'null'
        bankAccountId:
          type:
          - integer
          - 'null'
          format: int64
        accountType:
          oneOf:
          - $ref: '#/components/schemas/BankAccountType'
        referenceId:
          type:
          - string
          - 'null'
        payrollVersion:
          type: integer
          format: int32
        company:
          oneOf:
          - $ref: '#/components/schemas/Company'
        createdByUser:
          oneOf:
          - $ref: '#/components/schemas/User'
        modifiedByUser:
          oneOf:
          - $ref: '#/components/schemas/User'
        payrollDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PayrollDetail'
        gallery:
          oneOf:
          - $ref: '#/components/schemas/Gallery'
        isMigrate:
          type: boolean
        ruleCompileStatus:
          $ref: '#/components/schemas/RuleCompileStatus'
        isPartialPayments:
          type: boolean
        paidPeriod:
          default: 1
          oneOf:
          - $ref: '#/components/schemas/PaidPeriod'
        socialSecurityPercent:
          type: number
          format: decimal
          default: 5
        statusInt:
          type: integer
          format: int32
    UpgradeType:
      type: integer
      description: '1 = Upgrade

        3 = Renew

        5 = ChangePackage'
      x-enumNames:
      - Upgrade
      - Renew
      - ChangePackage
      enum:
      - 1
      - 3
      - 5
    CustomDocumentModel:
      type: integer
      description: 1 = SwitchProductItemSellToBuy
      x-enumNames:
      - SwitchProductItemSellToBuy
      enum:
      - 1
    SimpleQuery:
      type: object
      additionalProperties: false
      properties:
        pageSize:
          type:
          - integer
          - 'null'
          format: int32
        currentPage:
          type:
          - integer
          - 'null'
          format: int32
        totalRecords:
          type: integer
          format: int32
        dateType:
          $ref: '#/components/schemas/DateType'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        day:
          type: integer
          format: int32
        month:
          type: integer
          format: int32
        year:
          type: integer
          format: int32
        range:
          $ref: '#/components/schemas/DataRange'
        isFirstCurrent:
          type: integer
          format: int32
        hashTags:
          type:
          - array
          - 'null'
          items:
            type: string
        reportType:
          $ref: '#/components/schemas/ReportTypes'
        filter:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FilterOptions'
        sortBy:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SortOptions'
    CompanyPreferences:
      type: object
      additionalProperties: false
      required:
      - invoicePrefix
      - quotationPrefix
      - billingNotePrefix
      - receiptPrefix
      - purchaseOrderPrefix
      - cashInvoicePrefix
      - receivableInvoicePrefix
      - purchaseOrderTitleEN
      - quotationTitleEN
      - billingNoteTitleEN
      - invoiceTitleEN
      - receiptTitleEN
      - paymentSlipTitleEN
      - purchaseOrderTitleTH
      - quotationTitleTH
      - billingNoteTitleTH
      - invoiceTitleTH
      - receiptTitleTH
      - paymentSlipTitleTH
      - cashInvoiceTitleEN
      - cashInvoiceTitleTH
      - receivableInvoiceTitleTH
      - receivableInvoiceTitleEN
      - withHoldingTaxPrefix
      - purchasePrefix
      - purchaseTitleEN
      - purchaseTitleTH
      - adjustInventoryPrefix
      - expensePrefix
      - paymentSlipPrefix
      - creditNotePrefix
      - creditNoteTitleEN
      - creditNoteTitleTH
      - debitNotePrefix
      - debitNoteTitleEN
      - debitNoteTitleTH
      - journalVoucherPrefix
      - purchaseVoucherPrefix
      - salesVoucherPrefix
      - paymentVoucherPrefix
      - receivedVoucherPrefix
      - conversionBalancePrefix
      properties:
        companyId:
          type: integer
          format: int64
        showWithHolding:
          type: boolean
          default: false
        invoicePrefix:
          type: string
          maxLength: 6
          minLength: 0
        quotationPrefix:
          type: string
          maxLength: 6
          minLength: 0
        billingNotePrefix:
          type: string
          maxLength: 6
          minLength: 0
        receiptPrefix:
          type: string
          maxLength: 6
          minLength: 0
        purchaseOrderPrefix:
          type: string
          maxLength: 6
          minLength: 0
        cashInvoicePrefix:
          type: string
          maxLength: 6
          minLength: 0
        receivableInvoicePrefix:
          type: string
          maxLength: 6
          minLength: 0
        cashInvoiceStartingNumber:
          type: integer
          format: int64
        receiptStartingNumber:
          type: integer
          format: int64
        quotationStartingNumber:
          type: integer
          format: int64
        billingNoteStartingNumber:
          type: integer
          format: int64
        purchaseOrderStartingNumber:
          type: integer
          format: int64
        purchaseOrderTitleEN:
          type: string
          maxLength: 2147483647
          minLength: 0
        quotationTitleEN:
          type: string
          maxLength: 2147483647
          minLength: 0
        billingNoteTitleEN:
          type: string
          maxLength: 2147483647
          minLength: 0
        invoiceTitleEN:
          type: string
          maxLength: 2147483647
          minLength: 0
        receiptTitleEN:
          type: string
          maxLength: 2147483647
          minLength: 0
        paymentSlipTitleEN:
          type: string
          maxLength: 2147483647
          minLength: 0
        purchaseOrderTitleTH:
          type: string
          maxLength: 2147483647
          minLength: 0
        quotationTitleTH:
          type: string
          maxLength: 2147483647
          minLength: 0
        billingNoteTitleTH:
          type: string
          maxLength: 2147483647
          minLength: 0
        invoiceTitleTH:
          type: string
          maxLength: 2147483647
          minLength: 0
        receiptTitleTH:
          type: string
          maxLength: 2147483647
          minLength: 0
        paymentSlipTitleTH:
          type: string
          maxLength: 2147483647
          minLength: 0
        businessType:
          $ref: '#/components/schemas/BusinessType'
        termsAgreement:
          type:
          - string
          - 'null'
          maxLength: 2147483647
          minLength: 0
        defaultRemarks:
          type:
          - string
          - 'null'
          maxLength: 2147483647
          minLength: 0
        invoiceStartingNumber:
          type: integer
          format: int64
        cashInvoiceTitleEN:
          type: string
          maxLength: 2147483647
          minLength: 0
        cashInvoiceTitleTH:
          type: string
          maxLength: 2147483647
          minLength: 0
        receivableInvoiceTitleTH:
          type: string
          maxLength: 2147483647
          minLength: 0
        receivableInvoiceTitleEN:
          type: string
          maxLength: 2147483647
          minLength: 0
        runningNumberType:
          $ref: '#/components/schemas/RunningNumberType'
        purchaseOrderStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        quotationStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        billingNoteStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        invoiceStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        cashInvoiceStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        receiptStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        purchaseOrderStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        quotationStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        billingNoteStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        invoiceStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        cashInvoiceStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        receiptStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        settingsInitiated:
          type: boolean
          default: false
        runningNumberSettingsModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        withHoldingTaxPrefix:
          type: string
          maxLength: 6
          minLength: 0
        withHoldingTaxStartingNumber:
          type: integer
          format: int32
        withHoldingTaxStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        withHoldingTaxStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        documentTemplates:
          $ref: '#/components/schemas/DocumentTemplates'
        printColor:
          type: boolean
          default: true
        templateFont:
          $ref: '#/components/schemas/TemplateFont'
        printOneInvoice:
          type: boolean
          default: false
        remarks:
          type:
          - string
          - 'null'
          maxLength: 2147483647
          minLength: 0
        emailMessageTemplate:
          type:
          - string
          - 'null'
          maxLength: 2147483647
          minLength: 0
        purchasePrefix:
          type: string
          maxLength: 6
          minLength: 0
        purchaseStartingNumber:
          type: integer
          format: int64
        purchaseTitleEN:
          type: string
          maxLength: 2147483647
          minLength: 0
        purchaseTitleTH:
          type: string
          maxLength: 2147483647
          minLength: 0
        purchaseStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        purchaseStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        adjustInventoryPrefix:
          type: string
          maxLength: 6
          minLength: 0
        adjustInventoryStartingNumber:
          type: integer
          format: int32
        adjustInventoryStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        adjustInventoryStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        expensePrefix:
          type: string
          maxLength: 6
          minLength: 0
        expenseStartingNumber:
          type: integer
          format: int32
        expenseStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        expenseStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        paymentSlipPrefix:
          type: string
          maxLength: 6
          minLength: 0
        paymentSlipStartingNumber:
          type: integer
          format: int32
        paymentSlipStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        paymentSlipStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        cashInvoiceRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        purchaseOrderRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        quotationRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        billingNoteRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        invoiceRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        purchaseRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        receivableInvoiceRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        paymentSlipRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        rubberStampUrl:
          type:
          - string
          - 'null'
          maxLength: 2147483647
          minLength: 0
        creditNotePrefix:
          type: string
          maxLength: 6
          minLength: 0
        creditNoteStartingNumber:
          type: integer
          format: int32
        creditNoteStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        creditNoteStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        creditNoteRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        creditNoteTitleEN:
          type: string
          maxLength: 2147483647
          minLength: 0
        creditNoteTitleTH:
          type: string
          maxLength: 2147483647
          minLength: 0
        debitNotePrefix:
          type: string
          maxLength: 6
          minLength: 0
        debitNoteStartingNumber:
          type: integer
          format: int32
        debitNoteStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        debitNoteStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        debitNoteRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        debitNoteTitleEN:
          type: string
          maxLength: 2147483647
          minLength: 0
        debitNoteTitleTH:
          type: string
          maxLength: 2147483647
          minLength: 0
        receiptRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        receivableInvoiceStartingNumber:
          type: integer
          format: int32
        receivableInvoiceStartingMonth:
          type:
          - integer
          - 'null'
          format: int32
        receivableInvoiceStartingYear:
          type:
          - integer
          - 'null'
          format: int32
        usePartialReceipt:
          type: boolean
          default: false
        useCashInvoice:
          type: boolean
          default: false
        useShortCashInvoice:
          type: boolean
          default: false
        generalLedgerRunningNumberType:
          $ref: '#/components/schemas/RunningNumberType'
        journalVoucherPrefix:
          type: string
          maxLength: 6
          minLength: 0
        purchaseVoucherPrefix:
          type: string
          maxLength: 6
          minLength: 0
        purchaseVoucherRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        salesVoucherPrefix:
          type: string
          maxLength: 6
          minLength: 0
        salesVoucherRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        paymentVoucherPrefix:
          type: string
          maxLength: 6
          minLength: 0
        paymentVoucherRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        receivedVoucherPrefix:
          type: string
          maxLength: 6
          minLength: 0
        receivedVoucherRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        conversionBalancePrefix:
          type: string
          maxLength: 6
          minLength: 0
        conversionBalanceRunningNumberModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        eTaxEmail:
          type:
          - string
          - 'null'
        shortCashInvoiceTemplates:
          $ref: '#/components/schemas/DocumentTemplates'
        useBillingNoteAccountingRule:
          type: boolean
        billingNoteAccountingRuleModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        templateFontSize:
          type:
          - number
          - 'null'
          format: decimal
        useMultiCurrency:
          type: boolean
          default: false
        expenseTitleTH:
          type:
          - string
          - 'null'
        expenseTitleEN:
          type:
          - string
          - 'null'
        withHoldingTaxTitleTH:
          type:
          - string
          - 'null'
        withHoldingTaxTitleEN:
          type:
          - string
          - 'null'
    OtherChannelsType:
      type: integer
      description: '1 = Receive

        3 = ReceivePay

        5 = Pay'
      x-enumNames:
      - Receive
      - ReceivePay
      - Pay
      enum:
      - 1
      - 3
      - 5
    Currency:
      type: integer
      description: '1 = USD

        3 = GBP

        5 = EUR

        7 = JPY

        9 = HKD

        11 = CNY

        13 = THB

        15 = AUD

        33 = BDT

        35 = BHD

        37 = BND

        39 = KHR

        41 = CAD

        43 = DKK

        45 = INR

        47 = IDR

        49 = ILS

        53 = KRW

        55 = LAK

        57 = MOP

        59 = MYR

        61 = MMK

        63 = NPR

        65 = NZD

        67 = NOK

        69 = OMR

        71 = PKR

        73 = PHP

        75 = QAR

        77 = RUB

        79 = SAR

        81 = SEK

        83 = SGD

        85 = LKR

        87 = CHF

        89 = TWD

        91 = AED

        93 = VND

        95 = ZAR

        97 = MXN

        99 = KWD

        101 = CZK

        103 = KES

        105 = EGP

        107 = PLN

        109 = IQD

        111 = JOD

        113 = MVR

        115 = PGK

        117 = HUF'
      x-enumNames:
      - USD
      - GBP
      - EUR
      - JPY
      - HKD
      - CNY
      - THB
      - AUD
      - BDT
      - BHD
      - BND
      - KHR
      - CAD
      - DKK
      - INR
      - IDR
      - ILS
      - KRW
      - LAK
      - MOP
      - MYR
      - MMK
      - NPR
      - NZD
      - NOK
      - OMR
      - PKR
      - PHP
      - QAR
      - RUB
      - SAR
      - SEK
      - SGD
      - LKR
      - CHF
      - TWD
      - AED
      - VND
      - ZAR
      - MXN
      - KWD
      - CZK
      - KES
      - EGP
      - PLN
      - IQD
      - JOD
      - MVR
      - PGK
      - HUF
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
      - 11
      - 13
      - 15
      - 33
      - 35
      - 37
      - 39
      - 41
      - 43
      - 45
      - 47
      - 49
      - 53
      - 55
      - 57
      - 59
      - 61
      - 63
      - 65
      - 67
      - 69
      - 71
      - 73
      - 75
      - 77
      - 79
      - 81
      - 83
      - 85
      - 87
      - 89
      - 91
      - 93
      - 95
      - 97
      - 99
      - 101
      - 103
      - 105
      - 107
      - 109
      - 111
      - 113
      - 115
      - 117
    PayrollStatus:
      type: integer
      description: '0 = Draft

        1 = Awaiting

        2 = Reset

        3 = Paid

        4 = Partial

        5 = Rejected

        7 = Approved

        11 = PushPayAwaiting

        13 = PushPayProcessed

        15 = PushPayRejected

        17 = PushPayPartial

        19 = PushPayPendingPayments

        50 = KConnectAwaiting

        52 = KConnectProcessed

        54 = KConnectRejected

        56 = KConnectPendingPayments'
      x-enumNames:
      - Draft
      - Awaiting
      - Reset
      - Paid
      - Partial
      - Rejected
      - Approved
      - PushPayAwaiting
      - PushPayProcessed
      - PushPayRejected
      - PushPayPartial
      - PushPayPendingPayments
      - KConnectAwaiting
      - KConnectProcessed
      - KConnectRejected
      - KConnectPendingPayments
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 7
      - 11
      - 13
      - 15
      - 17
      - 19
      - 50
      - 52
      - 54
      - 56
    PayrollPreferences:
      type: object
      additionalProperties: false
      properties:
        companyId:
          type: integer
          format: int64
        isSocialSecurityRegistered:
          type: boolean
        employerAccountNumber:
          type:
          - string
          - 'null'
        employerAccountBranch:
          type:
          - string
          - 'null'
        kCorporateClientCode:
          type:
          - string
          - 'null'
        kCorporateAccountNumber:
          type:
          - string
          - 'null'
        payrollBankAccountId:
          type:
          - integer
          - 'null'
          format: int64
        kConnect_ProductCode:
          $ref: '#/components/schemas/KConnectProductCode'
        overtimePND:
          type:
          - integer
          - 'null'
          format: int32
        commissionPND:
          type:
          - integer
          - 'null'
          format: int32
        bonusPND:
          type:
          - integer
          - 'null'
          format: int32
        allowancePND:
          type:
          - integer
          - 'null'
          format: int32
        colaPND:
          type:
          - integer
          - 'null'
          format: int32
        medicalExpensePND:
          type:
          - integer
          - 'null'
          format: int32
        accommodationPND:
          type:
          - integer
          - 'null'
          format: int32
        directorRemunerationPND:
          type:
          - integer
          - 'null'
          format: int32
        otherAdditionPND:
          type:
          - integer
          - 'null'
          format: int32
        accessKConnect:
          type: boolean
    Company:
      type: object
      additionalProperties: false
      required:
      - nameLocal
      - createdOn
      - modifiedOn
      - contactType
      - logoType
      - isAdvance
      properties:
        id:
          type: integer
          format: int64
        nameLocal:
          type: string
          minLength: 1
        nameForeign:
          type:
          - string
          - 'null'
        addressLocal:
          type:
          - string
          - 'null'
        addressForeign:
          type:
          - string
          - 'null'
        companyTaxId:
          type:
          - string
          - 'null'
        logoImage:
          type:
          - string
          - 'null'
        fax:
          type:
          - string
          - 'null'
          maxLength: 50
          minLength: 0
        phone1:
          type:
          - string
          - 'null'
          maxLength: 50
          minLength: 0
        phone2:
          type:
          - string
          - 'null'
          maxLength: 50
          minLength: 0
        phone3:
          type:
          - string
          - 'null'
          maxLength: 50
          minLength: 0
        websites:
          type:
          - string
          - 'null'
          maxLength: 2147483647
          minLength: 0
        companyType:
          $ref: '#/components/schemas/CompanyTypeEnum'
        createdOn:
          type: string
          format: date-time
          default: CURRENT_TIMESTAMP
          minLength: 1
        modifiedOn:
          type: string
          format: date-time
          default: CURRENT_TIMESTAMP
          minLength: 1
        isDefault:
          type: boolean
        addressLocalLine2:
          type:
          - string
          - 'null'
        addressForeignLine2:
          type:
          - string
          - 'null'
        vatRate:
          type: integer
          format: int32
        isVat:
          type: boolean
          default: false
        email:
          type:
          - string
          - 'null'
        branch:
          type:
          - string
          - 'null'
        addressLocalLine3:
          type:
          - string
          - 'null'
        addressForeignLine3:
          type:
          - string
          - 'null'
        contactPerson:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
          default: true
        remarks:
          type:
          - string
          - 'null'
        galleryId:
          type:
          - integer
          - 'null'
          format: int64
        branchForeign:
          type:
          - string
          - 'null'
          maxLength: 2147483647
          minLength: 0
        branchCode:
          type:
          - string
          - 'null'
          maxLength: 50
          minLength: 0
        contactType:
          type: integer
          format: int32
        defaultCreditDays:
          type:
          - integer
          - 'null'
          format: int32
        logoType:
          type: integer
          format: int32
        isRegistered:
          type: boolean
          default: true
        isAdvance:
          type: boolean
        address:
          type:
          - string
          - 'null'
        provinceId:
          type:
          - integer
          - 'null'
          format: int32
        amphurId:
          type:
          - integer
          - 'null'
          format: int32
        districtId:
          type:
          - integer
          - 'null'
          format: int32
        zipCode:
          type:
          - string
          - 'null'
        supportCode:
          type:
          - string
          - 'null'
        salesType:
          oneOf:
          - $ref: '#/components/schemas/SalesType'
        companyPreferences:
          oneOf:
          - $ref: '#/components/schemas/CompanyPreferences'
        payrollPreferences:
          oneOf:
          - $ref: '#/components/schemas/PayrollPreferences'
        companySubscription:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CompanySubscription'
    SupplierInvoice:
      type: object
      additionalProperties: false
      required:
      - companyId
      - documentDate
      - createdOn
      - modifiedOn
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        documentDate:
          type: string
          format: date-time
          default: CURRENT_TIMESTAMP
          minLength: 1
        documentSerial:
          type:
          - string
          - 'null'
        contactName:
          type:
          - string
          - 'null'
        contactTaxId:
          type:
          - string
          - 'null'
        contactBranch:
          type:
          - string
          - 'null'
        isDelete:
          type: boolean
        galleryId:
          type:
          - integer
          - 'null'
          format: int64
        referenceDocumentId:
          type: integer
          format: int64
        referenceDocumentType:
          $ref: '#/components/schemas/DocumentTypes'
        createdBy:
          type: integer
          format: int64
        modifiedBy:
          type: integer
          format: int64
        createdOn:
          type: string
          format: date-time
          default: CURRENT_TIMESTAMP
          minLength: 1
        modifiedOn:
          type: string
          format: date-time
          default: CURRENT_TIMESTAMP
          minLength: 1
        company:
          oneOf:
          - $ref: '#/components/schemas/Company'
        createdByUser:
          oneOf:
          - $ref: '#/components/schemas/User'
        modifiedByUser:
          oneOf:
          - $ref: '#/components/schemas/User'
        gallery:
          oneOf:
          - $ref: '#/components/schemas/Gallery'
    JournalEntryTemplateType:
      type: integer
      description: '1 = Default

        3 = DocumentCreated

        5 = Payment

        7 = ChequeDate

        9 = TaxNoRefund

        11 = VATManagementHistory'
      x-enumNames:
      - Default
      - DocumentCreated
      - Payment
      - ChequeDate
      - TaxNoRefund
      - VATManagementHistory
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
      - 11
    IDocumentReference:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        referenceId:
          type: integer
          format: int64
        referenceDocumentType:
          $ref: '#/components/schemas/DocumentTypes'
        referenceDocumentSerial:
          type:
          - string
          - 'null'
        documentId:
          type: integer
          format: int64
        documentType:
          $ref: '#/components/schemas/DocumentTypes'
        documentSerial:
          type:
          - string
          - 'null'
        isDelete:
          type: boolean
        type:
          $ref: '#/components/schemas/DocumentReferenceTypes'
        documentStatus:
          type: integer
          format: int32
        documentStatusString:
          type:
          - string
          - 'null'
        documentDate:
          type: string
          format: date-time
        documentAmount:
          type: number
          format: decimal
        documentAmountWithVat:
          type: number
          format: decimal
        refDocumentStatus:
          type: integer
          format: int32
        refDocumentStatusString:
          type:
          - string
          - 'null'
        refDocumentDate:
          type: string
          format: date-time
        refDocumentAmount:
          type: number
          format: decimal
        refDocumentAmountWithVat:
          type: number
          format: decimal
        partialPaymentTotalAmount:
          type: number
          format: decimal
        partialPaymentTotalPercent:
          type: number
          format: decimal
        refCreatedOn:
          type: string
          format: date-time
        refModifiedOn:
          type: string
          format: date-time
        refIsMigrate:
          type: boolean
        isCompileRule:
          type: boolean
        documentCollected:
          type: number
          format: decimal
    ChartOfAccountCategory:
      type: integer
      description: '1 = Assets

        2 = Liabilities

        3 = Equity

        4 = Revenue

        5 = Expenses'
      x-enumNames:
      - Assets
      - Liabilities
      - Equity
      - Revenue
      - Expenses
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    BankingChannelsStatus:
      type: integer
      description: '1 = Active

        3 = InActive'
      x-enumNames:
      - Active
      - InActive
      enum:
      - 1
      - 3
    EmployeeModel:
      example:
        reason: null
        id: 0
        companyId: null
        prefix: 1
        firstName: กไก่
        lastName: อยู่ในเล้า
        salary: 12000.0
        identitficationNumber: '1234567890123'
        passportNumber: null
        profileImage: null
        mobile: null
        commission: null
        remarks: null
        title: null
        galleryId: null
        bankId: null
        branch: null
        accountNumber: '1234567890'
        accountType: 3
        startDate: '2022-10-10T09:37:39.6155504+07:00'
        endDate: null
        internalNote: null
        isActive: null
        createdOn: null
        modifiedOn: null
        createdBy: null
        modifiedBy: null
        type: null
        code: employe001
        salaryType: 0
        socialSecurityNumber: null
        employerSocialSecurityRate: 0
        employeeSocialSecurityRate: 0
        email: null
        dob: null
        address: i live at 123 and you live at 456
        contactName: Employee number 1
        contactNumber: null
        contactRelationship: null
        office: null
        socialSecurityStatus: null
        methodPayment: 1
        secondaryEmail: null
        isDelete: false
        socialSecurityValue: 600.0
        withholdingTax: 0.0
        isHeadOffice: false
        companyBranch: null
        maritalStatus: 0
        currentAddress: null
        departmentId: null
        firstNameForeign: Chicken
        lastNameForeign: in the nest
        isSocialSecurityRegistered: true
        bankBranchCode: null
        idCard: null
        householdRegistration: null
        nickname: null
        nicknameForeign: null
        lineId: null
        conditionsWithholdingTax: 1
        paidPeriod: 1
        bank: null
        company: null
        gallery: null
        galleryIdCard: null
        galleryHouseholdRegistration: null
        payrollDetail: []
        department: null
      allOf:
      - $ref: '#/components/schemas/Employee'
      - type: object
        additionalProperties: false
        properties:
          reason:
            type:
            - string
            - 'null'
    IBookOfAccount:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        journalEntryId:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        debitCredit:
          $ref: '#/components/schemas/FinancialTransactionType'
        bookOfAccountStatus:
          $ref: '#/components/schemas/BookOfAccountStatus'
        chartOfAccountId:
          type: integer
          format: int64
        postedDate:
          type:
          - string
          - 'null'
          format: date-time
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        approvedOn:
          type:
          - string
          - 'null'
          format: date-time
        value:
          type: number
          format: decimal
        balance:
          type: number
          format: decimal
        excludeVoidBalance:
          type: number
          format: decimal
        rowNumber:
          type: integer
          format: int32
        description:
          type:
          - string
          - 'null'
        descriptionForeign:
          type:
          - string
          - 'null'
        chartOfAccountName:
          type:
          - string
          - 'null'
        journalEntry:
          oneOf:
          - $ref: '#/components/schemas/IJournalEntryBase'
        chartOfAccount:
          oneOf:
          - $ref: '#/components/schemas/IChartOfAccount'
    BatchTaxFiling:
      allOf:
      - $ref: '#/components/schemas/Document2'
      - type: object
        additionalProperties: false
        required:
        - companyId
        - claimDate
        - createdOn
        - modifiedOn
        properties:
          id:
            type: integer
            format: int64
          companyId:
            type: integer
            format: int64
          status:
            $ref: '#/components/schemas/BatchTaxFilingStatus'
          claimDate:
            type: string
            format: date-time
            default: CURRENT_TIMESTAMP
            minLength: 1
          totalBuyValue:
            type: number
            format: decimal
          totalBuyVatValue:
            type: number
            format: decimal
          totalSellValue:
            type: number
            format: decimal
          totalSellVatValue:
            type: number
            format: decimal
          broughtForward:
            type: number
            format: decimal
          value:
            type: number
            format: decimal
          isDelete:
            type: boolean
          createdBy:
            type: integer
            format: int64
          modifiedBy:
            type: integer
            format: int64
          createdOn:
            type: string
            format: date-time
            default: CURRENT_TIMESTAMP
            minLength: 1
          modifiedOn:
            type: string
            format: date-time
            default: CURRENT_TIMESTAMP
            minLength: 1
          company:
            oneOf:
            - $ref: '#/components/schemas/Company'
          createdByUser:
            oneOf:
            - $ref: '#/components/schemas/User'
          modifiedByUser:
            oneOf:
            - $ref: '#/components/schemas/User'
          datePayment:
            type:
            - string
            - 'null'
            format: date-time
          charge:
            type:
            - number
            - 'null'
            format: decimal
          collected:
            type:
            - number
            - 'null'
            format: decimal
          tax:
            type:
            - number
            - 'null'
            format: decimal
          remarks:
            type:
            - string
            - 'null'
          paymentWithHeld:
            type: number
            format: decimal
          remainingCollected:
            type:
            - number
            - 'null'
            format: decimal
          remainingCollectedType:
            oneOf:
            - $ref: '#/components/schemas/RemainingCollectedType'
          deductionAmount:
            type:
            - number
            - 'null'
            format: decimal
          paymentDeductionType:
            oneOf:
            - $ref: '#/components/schemas/DeductionType'
          bankAccountId:
            type:
            - integer
            - 'null'
            format: int64
          checkNumber:
            type:
            - string
            - 'null'
          checkBankId:
            type:
            - string
            - 'null'
          transferBankId:
            type:
            - string
            - 'null'
          bankAccountNumber:
            type:
            - string
            - 'null'
          checkDatePaid:
            type:
            - string
            - 'null'
            format: date-time
          methodPayment:
            oneOf:
            - $ref: '#/components/schemas/PaymentMethod'
          'no':
            type: integer
            format: int32
          pettyCashName:
            type:
            - string
            - 'null'
          pettyCashId:
            type:
            - integer
            - 'null'
            format: int64
          chequeId:
            type:
            - integer
            - 'null'
            format: int64
          creditCardId:
            type:
            - integer
            - 'null'
            format: int64
          otherChannelId:
            type:
            - integer
            - 'null'
            format: int64
          documentSerial:
            type:
            - string
            - 'null'
          documentId:
            type:
            - string
            - 'null'
          approved:
            type: boolean
          publishedOn:
            type: string
            format: date-time
          documentDate:
            type: string
            format: date-time
          vatRate:
            type: integer
            format: int32
          dueDate:
            type:
            - string
            - 'null'
            format: date-time
          name:
            type:
            - string
            - 'null'
          internalNotes:
            type:
            - string
            - 'null'
          roundingAdjustment:
            type: number
            format: decimal
          gallery:
            oneOf:
            - $ref: '#/components/schemas/Gallery'
          galleryId:
            type:
            - integer
            - 'null'
            format: int64
          contact:
            oneOf:
            - $ref: '#/components/schemas/Contact'
          contactId:
            type: integer
            format: int64
          documentReferences:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/IDocumentReference'
          referencedToMe:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/IDocumentReference'
          referencedByMe:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/IDocumentReference'
          statusInt:
            type: integer
            format: int32
          isInlineDiscount:
            type: boolean
          isInlineVat:
            type: boolean
          vatValue:
            type:
            - number
            - 'null'
            format: decimal
          documentSerialNoPrefix:
            type:
            - integer
            - 'null'
            format: int64
          inlineVatValue:
            type: number
            format: decimal
          inlineDiscountValue:
            type: number
            format: decimal
          published:
            type: boolean
          isVatInclusive:
            type: boolean
          runningNumberType:
            type: integer
            format: int32
          runningModifiedOn:
            type:
            - string
            - 'null'
            format: date-time
          exemptAmount:
            type: number
            format: decimal
          vatableAmount:
            type: number
            format: decimal
          totalAfterDiscount:
            type: number
            format: decimal
          subTotal:
            type: number
            format: decimal
          isReCalculate:
            type: boolean
          partialPaymentMethod:
            oneOf:
            - $ref: '#/components/schemas/PartialPaymentMethod'
          vatAmount:
            type:
            - number
            - 'null'
            format: decimal
          isMigrate:
            type: boolean
          resetTransactionId:
            type:
            - integer
            - 'null'
            format: int64
          ruleCompileStatus:
            default: 1
            oneOf:
            - $ref: '#/components/schemas/RuleCompileStatus'
          chequeCashingDate:
            type:
            - string
            - 'null'
            format: date-time
          projectId:
            type:
            - integer
            - 'null'
            format: int64
          projectName:
            type:
            - string
            - 'null'
          projectNameAndProjectDeatil:
            type:
            - string
            - 'null'
          reconciled:
            type: boolean
          outstanding:
            type: number
            format: decimal
          withholding:
            type:
            - integer
            - 'null'
            format: int32
          refDocumentStatus:
            type: integer
            format: int32
          refDocumentStatusString:
            type:
            - string
            - 'null'
          documentDeductionType:
            oneOf:
            - $ref: '#/components/schemas/DeductionType'
    PayrollQuery:
      example:
        fromPayroll: false
        payrollType: 3
        totalValue: 0.0
        totalVAT: 0.0
        isReceived: false
        documentType: []
        revenue: null
        expenses:
        - text: Exclude Sales Tax
          value: '0'
        - text: Include Sales Tax
          value: '1'
        previousMonths:
        - text: Sep
          value: '9'
        - text: Aug
          value: '8'
        - text: Jul
          value: '7'
        - text: Jun
          value: '6'
        - text: May
          value: '5'
        - text: Apr
          value: '4'
        - text: Mar
          value: '3'
        - text: Feb
          value: '2'
        - text: Jan
          value: '1'
        previousYears:
[...]
