openapi: 3.2.0
info:
  title: FlowAccount Open Expense API
  version: 1.0.0
servers:
- url: https://openapi.flowaccount.com/sandbox
  description: The sandbox server
- url: https://openapi.flowaccount.com/v3-alpha
  description: The prod server
security:
- bearer: []
tags:
- name: Expense
paths:
  /{culture}/expenses/categories/business:
    get:
      tags:
      - Expense
      operationId: Expense_GetBusinessCategories
      parameters:
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
      summary: Expense get business categories
      x-summary-source: derived
  /{culture}/expenses/categories/accounting:
    get:
      tags:
      - Expense
      operationId: Expense_GetChartOfAccounts
      parameters:
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
      summary: Expense get chart of accounts
      x-summary-source: derived
  /{culture}/expenses/categories/business-without-asset:
    get:
      tags:
      - Expense
      operationId: Expense_GetBusinessCategoriesWithoutAsset
      parameters:
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
      summary: Expense get business categories without asset
      x-summary-source: derived
  /{culture}/expenses/categories/accounting-without-asset:
    get:
      tags:
      - Expense
      operationId: Expense_GetChartOfAccountsWithoutAsset
      parameters:
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
      summary: Expense get chart of accounts without asset
      x-summary-source: derived
  /{culture}/expenses:
    get:
      tags:
      - Expense
      summary: To query for documents
      operationId: Expense_Index
      parameters:
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: CurrentPage
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: Filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: SearchString
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: CustomDocumentModels
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: Range
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      - name: Month
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 8
      - name: Year
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 9
      - name: StartDate
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 10
      - name: EndDate
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 11
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 12
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
  /{culture}/expenses/{id}:
    get:
      tags:
      - Expense
      summary: To get details of a document
      operationId: Expense_Details
      parameters:
      - name: id
        in: path
        required: true
        description: Sql DocumentId
        schema:
          type: integer
          format: int64
        x-position: 1
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
    delete:
      tags:
      - Expense
      summary: To delete the document given a list of documentids
      operationId: Expense_Delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        x-position: 1
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
  /{culture}/expenses/simple-document:
    post:
      tags:
      - Expense
      summary: To Create a document with SimpleDocument as the parameter
      operationId: Expense_Create
      parameters:
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: simpleDocuments
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimpleDocument'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageSent'
      security:
      - bearer: []
  /{culture}/expenses/inline-document:
    post:
      tags:
      - Expense
      summary: To Create a document with InlineDocument as the parameter
      operationId: Expense_Create2
      parameters:
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: inlineDocuments
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InlineDocument'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageSent'
      security:
      - bearer: []
  /{culture}/expenses/simple-document/{id}:
    put:
      tags:
      - Expense
      summary: To Update a document with simpleDocument as the parameter
      operationId: Expense_Edit
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        x-position: 1
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 3
      requestBody:
        x-name: simpleDocument
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimpleDocument'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
  /{culture}/expenses/inline-document/{id}:
    put:
      tags:
      - Expense
      summary: To Update a document with inlineDocument as the parameter
      operationId: Expense_Edit2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        x-position: 1
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 3
      requestBody:
        x-name: inlineDocument
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InlineDocument'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
  /{culture}/expenses/{documentId}/status-key/{statusKey}:
    post:
      tags:
      - Expense
      summary: To change status by the document id and key
      operationId: Expense_ChangeStatusByKey
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        x-position: 1
      - name: statusKey
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
  /{culture}/expenses/{id}/payments:
    post:
      tags:
      - Expense
      summary: To Accept payment with the paymentModel
      operationId: Expense_ReceivePayment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        x-position: 1
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 3
      requestBody:
        x-name: sourcePayment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentModel'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
components:
  schemas:
    SimpleProductItem:
      allOf:
      - $ref: '#/components/schemas/ProductItem'
      - type: object
        additionalProperties: false
    Entity:
      type: integer
      description: '1 = PND3

        3 = PND53

        5 = PND1K

        7 = PND1KSpecial

        9 = PND2

        11 = PND2K

        13 = PND3K

        15 = PND1'
      x-enumNames:
      - PND3
      - PND53
      - PND1K
      - PND1KSpecial
      - PND2
      - PND2K
      - PND3K
      - PND1
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
      - 11
      - 13
      - 15
    MessageSent:
      type: object
      additionalProperties: false
      properties:
        messageId:
          type:
          - string
          - 'null'
        externalDocumentId:
          type:
          - string
          - 'null'
    InlineDocument:
      allOf:
      - $ref: '#/components/schemas/Document'
      - type: object
        additionalProperties: false
        properties:
          discountType:
            type: integer
            format: int32
          useInlineDiscount:
            type: boolean
          useInlineVat:
            type: boolean
          exemptAmount:
            type:
            - number
            - 'null'
            format: decimal
          vatableAmount:
            type:
            - number
            - 'null'
            format: decimal
          items:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/InlineProductItem'
          documentReference:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/UpgradeDocument'
    Document:
      type: object
      additionalProperties: false
      properties:
        recordId:
          type: integer
          format: int64
        contactCode:
          type:
          - string
          - 'null'
        contactName:
          type:
          - string
          - 'null'
        contactAddress:
          type:
          - string
          - 'null'
        contactTaxId:
          type:
          - string
          - 'null'
        contactBranch:
          type:
          - string
          - 'null'
        contactPerson:
          type:
          - string
          - 'null'
        contactEmail:
          type:
          - string
          - 'null'
        contactNumber:
          type:
          - string
          - 'null'
        contactZipCode:
          type:
          - string
          - 'null'
        contactGroup:
          type: integer
          format: int32
        publishedOn:
          type: string
          format: date-time
        creditType:
          type: integer
          format: int32
        creditDays:
          type: integer
          format: int32
        dueDate:
          type: string
          format: date-time
        salesName:
          type:
          - string
          - 'null'
        projectName:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        isVatInclusive:
          type: boolean
        useReceiptDeduction:
          type: boolean
        subTotal:
          type: number
          format: decimal
        discountPercentage:
          type: integer
          format: int32
        discountAmount:
          type: number
          format: decimal
        totalAfterDiscount:
          type: number
          format: decimal
        isVat:
          type: boolean
        vatAmount:
          type: number
          format: decimal
        grandTotal:
          type: number
          format: decimal
        documentShowWithholdingTax:
          type: boolean
        documentWithholdingTaxPercentage:
          type: integer
          format: int32
        documentWithholdingTaxAmount:
          type: number
          format: decimal
        documentDeductionType:
          type: integer
          format: int32
        documentDeductionAmount:
          type: number
          format: decimal
        remarks:
          type:
          - string
          - 'null'
        internalNotes:
          type:
          - string
          - 'null'
        showSignatureOrStamp:
          type: boolean
        documentStructureType:
          type:
          - string
          - 'null'
        externalId:
          type:
          - string
          - 'null'
        saleAndPurchaseChannel:
          type:
          - string
          - 'null'
        rowIndex:
          type:
          - string
          - 'null'
    PaymentModel:
      type: object
      additionalProperties: false
      properties:
        cashRemarks:
          type:
          - string
          - 'null'
        excludeVat:
          type: number
          format: double
        cashTax:
          type: integer
          format: int32
        creditCardNumber:
          type:
          - string
          - 'null'
        companyVatRate:
          type: integer
          format: int32
        net:
          type: number
          format: decimal
        bankAccountNumber:
          type:
          - string
          - 'null'
        bankAccountId:
          type:
          - integer
          - 'null'
          format: int64
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        dateNow:
          type: string
          format: date-time
        amountCollected:
          type: number
          format: decimal
        amountWithheld:
          type: number
          format: decimal
        withholdingTax:
          type:
          - number
          - 'null'
          format: decimal
        remarks:
          type:
          - string
          - 'null'
        transferBankAccountId:
          type:
          - integer
          - 'null'
          format: int32
        bankAccountCreditCardId:
          type:
          - integer
          - 'null'
          format: int32
        charge:
          type: number
          format: decimal
        chequeDate:
          type:
          - string
          - 'null'
          format: date-time
        chequeNumber:
          type:
          - string
          - 'null'
        chequeBankAccountId:
          type:
          - string
          - 'null'
        creditCardBankAccountId:
          type:
          - string
          - 'null'
        remainingCollected:
          type:
          - number
          - 'null'
          format: decimal
        remainingCollectedType:
          oneOf:
          - $ref: '#/components/schemas/RemainingCollectedType'
        deductionAmount:
          type:
          - number
          - 'null'
          format: decimal
        paymentDeductionType:
          oneOf:
          - $ref: '#/components/schemas/DeductionType'
        pettyCashName:
          type:
          - string
          - 'null'
        pettyCashId:
          type:
          - integer
          - 'null'
          format: int64
        chequeId:
          type:
          - integer
          - 'null'
          format: int64
        creditCardId:
          type:
          - integer
          - 'null'
          format: int64
        otherChannelId:
          type:
          - integer
          - 'null'
          format: int64
        chequeDepositDate:
          type:
          - string
          - 'null'
          format: date-time
        chequeDepositBankId:
          type:
          - integer
          - 'null'
          format: int64
        chequeCashingDate:
          type:
          - string
          - 'null'
          format: date-time
        autoCreateWithholdingTax:
          type: boolean
        withholdingTaxIncomeType:
          $ref: '#/components/schemas/IncomeType'
        withholdingTaxIncomeDescription:
          type:
          - string
          - 'null'
        withholdingTaxEntity:
          $ref: '#/components/schemas/Entity'
        exchangeRateFee:
          type:
          - number
          - 'null'
          format: decimal
    SimpleDocument:
      example:
        items:
        - type: 1
          name: ค่าสินค้าและบริการ POS
          description: ''
          quantity: 1.0
          unitName: ''
          pricePerUnit: 210.28
          total: 210.28
          sellChartOfAccountCode: null
          buyChartOfAccountCode: null
          productCode: null
        documentReference: null
        exemptAmount: 0.0
        recordId: 0
        contactCode: null
        contactName: test_payload_mock_new1112
        contactAddress: ''
        contactTaxId: ''
        contactBranch: สำนักงานใหญ่
        contactPerson: ''
        contactEmail: ''
        contactNumber: ''
        contactZipCode: ''
        contactGroup: 1
        publishedOn: '2022-10-10T09:37:39.2943643+07:00'
        creditType: 3
        creditDays: 0
        dueDate: '2022-10-10T09:37:39.294366+07:00'
        salesName: Wongnai POS
        projectName: ''
        reference: null
        isVatInclusive: false
        useReceiptDeduction: true
        subTotal: 210.28
        discountPercentage: 0
        discountAmount: 0.0
        totalAfterDiscount: 210.28
        isVat: true
        vatAmount: 14.72
        grandTotal: 225.0
        documentShowWithholdingTax: false
        documentWithholdingTaxPercentage: 0
        documentWithholdingTaxAmount: 0.0
        documentDeductionType: 1
        documentDeductionAmount: 2.0
        remarks: POS ID 1\nรหัสถาดเก็บเงิน 5G5
        internalNotes: INV. No D/00002407\nหมายเลขใบเสร็จ / ID NUT9G
        showSignatureOrStamp: true
        documentStructureType: null
        externalId: null
        saleAndPurchaseChannel: ''
        rowIndex: null
      allOf:
      - $ref: '#/components/schemas/Document'
      - type: object
        additionalProperties: false
        properties:
          items:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SimpleProductItem'
          documentReference:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/UpgradeDocument'
          exemptAmount:
            type:
            - number
            - 'null'
            format: decimal
    IncomeType:
      type: integer
      description: '1 = Salary

        3 = Commission

        5 = Licensing

        7 = Interest

        9 = NetProfit30

        11 = NetProfit25

        13 = NetProfit20

        15 = NetProfitOther

        17 = TaxExemption

        19 = DividenFromShareOfProfit

        21 = PortionOfNetProfit

        23 = RecognitionOfProfit

        25 = TaxOther

        27 = RevenueDepartmentTax

        29 = Others'
      x-enumNames:
      - Salary
      - Commission
      - Licensing
      - Interest
      - NetProfit30
      - NetProfit25
      - NetProfit20
      - NetProfitOther
      - TaxExemption
      - DividenFromShareOfProfit
      - PortionOfNetProfit
      - RecognitionOfProfit
      - TaxOther
      - RevenueDepartmentTax
      - Others
      enum:
      - 1
      - 3
      - 5
      - 7
      - 9
      - 11
      - 13
      - 15
      - 17
      - 19
      - 21
      - 23
      - 25
      - 27
      - 29
    InlineProductItem:
      type: object
      additionalProperties: false
      properties:
        type:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        quantity:
          type: number
          format: decimal
        unitName:
          type:
          - string
          - 'null'
        pricePerUnit:
          type: number
          format: decimal
        total:
          type: number
          format: decimal
        sellChartOfAccountCode:
          type:
          - string
          - 'null'
        buyChartOfAccountCode:
          type:
          - string
          - 'null'
        discountAmount:
          type: number
          format: decimal
        vatRate:
          type: integer
          format: int32
    UpgradeDocument:
      type: object
      additionalProperties: false
      properties:
        recordId:
          type: integer
          format: int64
        referenceDocumentSerial:
          type:
          - string
          - 'null'
        referenceDocumentType:
          type: integer
          format: int64
    DeductionType:
      type: integer
      description: '0 = None

        1 = CashDiscount

        3 = Commission

        5 = ManagementFee

        7 = Roundings

        9 = Retentions'
      x-enumNames:
      - None
      - CashDiscount
      - Commission
      - ManagementFee
      - Roundings
      - Retentions
      enum:
      - 0
      - 1
      - 3
      - 5
      - 7
      - 9
    PaymentMethod:
      type: integer
      description: '0 = None

        1 = Cash

        3 = Cheque

        5 = Transfer

        7 = CreditCard

        9 = PushPay

        11 = PettyCash

        13 = Other

        51 = TransferByKConnect'
      x-enumNames:
      - None
      - Cash
      - Cheque
      - Transfer
      - CreditCard
      - PushPay
      - PettyCash
      - Other
      - TransferByKConnect
      enum:
      - 0
      - 1
      - 3
      - 5
      - 7
      - 9
      - 11
      - 13
      - 51
    ProductItem:
      type: object
      additionalProperties: false
      properties:
        type:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        quantity:
          type: number
          format: decimal
        unitName:
          type:
          - string
          - 'null'
        pricePerUnit:
          type: number
          format: decimal
        total:
          type: number
          format: decimal
        sellChartOfAccountCode:
          type:
          - string
          - 'null'
        buyChartOfAccountCode:
          type:
          - string
          - 'null'
        productCode:
          type:
          - string
          - 'null'
    RemainingCollectedType:
      type: integer
      description: '1 = CashShortOrOver

        3 = CashDiscount

        5 = ExchangeRateDiff

        51 = SalesCashShortOrOver

        53 = SalesDiscount

        55 = SalesBankFee

        57 = SalesExchangeRateDiff'
      x-enumNames:
      - CashShortOrOver
      - CashDiscount
      - ExchangeRateDiff
      - SalesCashShortOrOver
      - SalesDiscount
      - SalesBankFee
      - SalesExchangeRateDiff
      enum:
      - 1
      - 3
      - 5
      - 51
      - 53
      - 55
      - 57
  securitySchemes:
    bearer:
      type: http
      description: Specify the authorization token.
      scheme: bearer
      bearerFormat: Reference
x-generator: NSwag v13.11.3.0 (NJsonSchema v10.4.4.0 (Newtonsoft.Json v13.0.0.0))
