openapi: 3.0.0
info:
  title: FlowAccount Open BatchImport ProductCategory API
  version: 1.0.0
servers:
- url: https://openapi.flowaccount.com/sandbox
  description: The sandbox server
- url: https://openapi.flowaccount.com/v3-alpha
  description: The prod server
security:
- bearer: []
tags:
- name: ProductCategory
paths:
  /{culture}/products/categories:
    get:
      tags:
      - ProductCategory
      operationId: ProductCategory_GetProductCategory
      parameters:
      - name: currentPage
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 20
        x-position: 2
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductCategory'
      security:
      - bearer: []
    post:
      tags:
      - ProductCategory
      operationId: ProductCategory_CreateProductCategory
      parameters:
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: category
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategory'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
  /{culture}/products/categories/{id}:
    put:
      tags:
      - ProductCategory
      operationId: ProductCategory_UpdateProductCategory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        x-position: 2
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 3
      requestBody:
        x-name: updatedCategory
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategory'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
    delete:
      tags:
      - ProductCategory
      operationId: ProductCategory_DeleteProductCategory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        x-position: 1
      - name: culture
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
components:
  schemas:
    ProductCategory:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          nullable: true
        isDelete:
          type: boolean
        isShare:
          type: boolean
        resetTransactionId:
          type: integer
          format: int64
          nullable: true
  securitySchemes:
    bearer:
      type: http
      description: Specify the authorization token.
      scheme: bearer
      bearerFormat: Reference
x-generator: NSwag v13.11.3.0 (NJsonSchema v10.4.4.0 (Newtonsoft.Json v13.0.0.0))
